/*universal styles*/
* {
    padding: 10;
    margin: 1;
    box-sizing: border-box;
    font-family: 'Albert Sans';
    font-size: large;
}
header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(280, 50%, 40%);
    border-bottom: 4px solid hsl(300, 50%, 50%);
    color: hsl(300, 50%, 90%);
}
header p {
    color: hsl(300, 50%, 90%);
    background-color: hsl(280, 50%, 40%);
    text-align: center;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}


img {
    height: auto;
    width: 500px;
    padding-left: 60px;
    filter: brightness(75%);
    
}

p   {
    color: rgb(219, 29, 29);
    background-color: white;
    padding: 12px;

}
.content {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
}
main {
    margin-bottom: 4rem;
}

@font-face {
    font-family: ;
    src: url();
}

